<div class = "container-fluid">
  <%= form_with(model: listing) do |form| %>
    <% if listing.errors.any? %>
      <div style="color: red"">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
          <% listing.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :Buying_or_selling?, style: "display: block" %>
      <%= form.text_field :buysell %>
    </div>

    <div class="form-group">
      <%= form.label :product, style: "display: block" %>
      <%= form.text_field :product %>
    </div>

    <div class="form-group">
      <%= form.label :price, style: "display: block" %>
      <%= form.text_field :price %>
    </div>

    <div class="form-group">
      <%= form.label :contacts, style: "display: block" %>
      <%= form.text_field :contacts %>
    </div>

    <div class="form-group">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div class="form-group">
      <%= form.label :Shipping_or_Local?, style: "display: block" %>
      <%= form.text_field :password %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>
  <% end %>
</div>
