<div class = "container-fluid">
  <h1>Editing listing</h1>
</div>

<%= render "form", listing: @listing %>

<br>

<div class = "container-fluid">
  <%= link_to "Show this listing", @listing %> |
  <%= link_to "Back to listings", listings_path %>
</div>
